<ion-view cache-view="false" title="{{story.title}}">
  <ion-content>
  <div class="card">
    <div class="item item-thumbnail-left item-text-wrap">
      <img ng-src="https://drcs9k8uelb9s.cloudfront.net/{{story.objectID}}.png">
        <h2>{{story.title}}</h2>
        <p>{{story.url}}</p>
        <p>by <span class="author">{{story.author}}</span> {{story.created_at_i | moment:'M/D/YYYY h:m A'}}</p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        {{story.points}} Points
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbubble-working"></i>
        {{story.num_comments}} Comments
      </a>
      <a class="tab-item" ng-href="{{story.url}}" target="_blank">
        <i class="icon ion-link"></i>
        Open in browser
      </a>
    </div>
  </div>
    <ul class="list">
      <li class="item item-avatar item-text-wrap" ng-repeat="comment in story.full.children" ng-show="comment.author">
        <img ng-src="https://github.com/identicons/{{comment.author}}.png" err-src="../img/no-avatar.png">
        <span class="author">{{comment.author}}</span>
        <small>{{comment.created_at_i | moment:'M/D/YYYY h:m A'}}</small>
        <div class="reply-container" ng-bind-html="comment.text"></div>
        <collection collection="comment.children"></collection>
      </li>
    </ul>
  </ion-content>
</ion-view>