<ion-view title="Settings">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Basic settings
      </div>
      <a class="item item-icon-right" href="#">
        Hits per page
        <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios7-sunny"></i>
      </div>
    </div>
  </ion-content>
</ion-view>