<ion-view cache-view="false" title="{{story.title}}">
  <ion-content>
    <ul class="list">
      <li class="item item-thumbnail-left">
        <img ng-src="https://drcs9k8uelb9s.cloudfront.net/{{story.objectID}}.png" width="100">
        <h2>{{story.author}}</h2>
        <p>{{story.created_at_i}}</p>
        <p>{{story.points}} points</p>
        <p>{{story.url}}</p>
      </li>
      <li class="item item-avatar" ng-repeat="comment in story.full.children">
        <img ng-src="https://github.com/identicons/{{comment.author}}.png">
        <h2>{{comment.author}}</h2>
        <span>{{comment.created_at_i}}</span>
        <p ng-bind-html="comment.text"></p>
        
      </li>
    </ul>
  </ion-content>
</ion-view>